:root {
    --dark-color: rgb(51, 51, 51);
    --lime-color: rgba(154, 184, 109, 0.918);
    --white-color: rgba(255, 255, 255, 0.747);
    --gray-color: rgb(93, 97, 89);
    --red-color: rgb(255, 126, 126);
    --yellow-color: rgb(226, 188, 83);
    --completed--color: rgb(184, 184, 184);
}
#dropdown {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    height: 200px;
    background-color: var(--white-color);
    padding: 8px 18px 18px 18px;
    display: grid;
    grid-template-columns: 1fr 260px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 14px;
    border-top: solid 1px var(--gray-color);
}
#dropdown textarea {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: white;
    border-color: rgb(182, 179, 179);
    
    border-radius: 3px;
}
#dropdown div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
#dropdown div label {
    font-size: 0.9rem;
    color: var(--dark-color);
}
#dropdown div select,
#dropdown div input {
    width: 130px;
    height: 24px;
    font-size: 1rem;
    border-radius: 3px;
    border-color: rgb(182, 179, 179);
}
#dropdown div select option {
    font-size: 1rem;
}
#dropdown div #date {
    border: 2px solid rgb(182, 179, 179);
    padding-left: 4px;
    width: 122px;
    height: 20px;
    border-radius: 3px;
}
#dropdown button {
    width: 160px;
    height: 28px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-color: var(--red-color);
    background-color: rgb(190, 94, 94);   
    border-radius: 3px;
    justify-self: center;
}
.row-two {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.row-three {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}